.pokemonCard {
  width: 200px;
  text-align: center;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  padding: 5px 0;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.pokemonCardImage {
  height: 100px;
  margin: 0 auto 2px;
  background-position: center center!important;
  background-repeat: no-repeat!important;
}

.pokemonCardNumber {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: royalblue;
  color: #fff;
  font-size: 20px;
  font-family: 'Arvo', sans-serif;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.pokemonCardName {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #3f3f3f;
}
